<li id="comment-<%=comment._id%>">
    <% if (locals.user && locals.user.id == comment.user.id){ %>
        <a href="/comments/destroy/<%= comment.id %>" class="delete-comment-button">X</a>
    <% } %>

    <%= comment.content%>
    <br>
    <small>
        <%= comment.user.name %>
    </small>
</li>