
    <div>Home</div>

    <section id = "feed-posts">
        <h4>Posts</h4>
        <% if(locals.user) { %>

            <form action="/posts/create" id="new-post-form" method = "POST">
                <textarea name="content" id="" cols="30" rows="3" placeholder="type here...." required></textarea>
                <input type="submit" value="Post">
            </form>
        <%}%>
            <div id="posts-lists-container">
                <ul>
                    <% for(post of posts){ %>
                    
                        <%- include('_post') -%>
                            
                    <%} %>
                </ul>
            </div>
        
    </section>
    <section id="user-friends">
        <h4>Friends</h4>
        <% for(user of all_users) {%>
            <p>
                <a href="/users/profile/<%= user.id %>"><%= user.name %></a>
            </p>
        <%}%>
    </section>
    <script src = "/js/home_comments.js"></script>
    <script src="/js/home_posts.js"></script>
    